<header class="header-container">
  <nav>
    <ul>
      <a href="">
        <li>Projects</li>
      </a>
      <a href="about-us">
        <li>About Us</li>
      </a>
      <a href="clients">
        <li>Our Clients</li>
      </a>
      <a href="contact-us">
        <li>Contact Us</li>
      </a>
    </ul>
  </nav>
  <div class="nav-icons">
    <li>
      <a href="/settings">
        <i class="ri-settings-4-fill"></i>
      </a>
    </li>
    <li>
      <a href="/sign-in" onClick="{handleSignOut}">
        <i class="ri-logout-box-r-fill"></i>
      </a>
    </li>
  </div>
</header>
