<footer class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h2>About Us</h2>
      <p>
        We are a leading IT company providing innovative solutions and
        exceptional services. Our expertise includes software development, cloud
        computing, and cybersecurity. We are dedicated to delivering customized
        solutions that drive efficiency and growth for our clients.
      </p>
    </div>
    <div class="footer-section links">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
        <li><a href="/abour-us">About</a></li>
        <li><a href="/profile">profile</a></li>
      </ul>
    </div>
    <div class="footer-section contact">
      <h2>Contact Us</h2>
      <p>Email: kztahat96&#64;gmail.com</p>
      <p>Phone: +962 779 27823</p>
      <p>Address: Amman, Jordan</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>copy right <i class="ri-copyright-line"></i> Khaled Zayed Tahat</p>
  </div>
</footer>
