<app-header />

<div class="component-page">
  <div class="content-header">
    <app-title text="Projects" [level]="1" />
    <span (click)="showModel()" class="add-project-button">
      <i class="ri-add-circle-fill"></i>
    </span>
  </div>
  <div class="content-container">
    <div class="projects-container">
      <ng-container *ngFor="let project of projects">
        <app-project-card
          [id]="project.id"
          [title]="project.title"
          [startDate]="project.startDate"
          [managerName]="project.managerName"
        />
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="showAddModel">
    <app-data-model [hideModel]="hideModel">
      <app-add-project-form
        (formSubmit)="handleFormSubmit($event)"
      ></app-add-project-form>
    </app-data-model>
  </ng-container>
</div>

<app-footer />
